[build-system]
requires = ["setuptools>=42", "wheel", "ninja"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
skip = "*-win32 *-manylinux_i686 *-musllinux*"
test-requires = ""
test-command = "python -m unittest discover {project}/tests test_*.py"

 # Setuptools bug causes collision between pypy and cpython artifacts
 # (from pybind/cmake_example, is necessary)
before-build = "rm -rf {project}/build"
